/* CSS Reset will be here */
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Teko:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200..1000&family=Rajdhani:wght@300;400;500;600;700&family=Teko&display=swap");

body {
  background-image: url("https://ik.imagekit.io/d9mvewbju/Course/BigbinaryAcademy/yellow-container-background_O_HTT_hh3.avif");
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

  font-family: "Teko", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.btn {
  border: none;
  border-radius: 5px;
  height: 40px;
  color: white;
}

.container {
  width: 70%;
  padding: 20px;
  text-align: center;
  background-color: #faebd7;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 3px rgb(247, 110, 5);

  .generator-content {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    height: 40px;
    align-items: center;

    .copy-password-btn {
      background-color: rgb(33, 233, 33);
      cursor: grabbing;
      box-shadow: 0px 0px 1px 2px rgb(143, 211, 34);
    }
  }

  .select-character {
    margin-bottom: 10px;
    margin: 10px auto;
    display: flex;
    justify-content: center;
  }

  .checkboxes {
    display: flex;
    justify-content: space-around;
  }

  .generate-password-btn {
    background-color: blue;
    cursor: pointer;
    margin-top: 10px;
    box-shadow: 0px 0px 1px 2px rgb(25, 139, 156);
  }

  .result {
    font-family: "Cairo";
    padding-right: 10px; 
    white-space: nowrap;
    overflow: auto; 
    /* text-overflow: ellipsis; */
  }

  .btn:hover {
    transform: scale(1.1);
    box-shadow: 2px 1px 5px 1px black;
  }
}

.motivation {
  display: flex;
  justify-content: space-evenly;
  color: rgb(7, 91, 105);

  .section {
    width: 50%;
  }

  li {
    margin: 10px;
  }
}

/* Media queries */

@media (max-width: 750px) {
  .container {
    width: 90%;

    .checkboxes {
      display: flex;
      justify-content: space-around;
    }
  }
}

@media (max-width: 450px) {
  .container {
    width: 100%;

    .checkboxes {
      flex-direction: column;
      align-items: flex-start;
      margin-left: 30px;
    }
  }
  .motivation{
    flex-direction: column;

    .section {
        width: 100%;
      }
  }

}
